/**{
    outline: 1px solid red;
}

/*GENERAL*/
body{
    margin: 0px;
}
.container{
    margin: 0px;
}

.selected{
    font-weight: bold;
}

.nav{
    display: inline-flex;
    background-color: #FFC500;
}

.nav a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top:auto;
    margin-bottom: auto;
}

.nav hr{
    display: none;
}

.logo{
    height: 50px;
    width: auto;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: 2px solid #49090C;
}

hr{
    height: 4px;
    border-width: 0;
    color: #49090C;
    background-color: #49090C;
}

.banner{
    width: 100%;
    height: auto;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: #FFC500;
    margin-top: auto;
}

/*HOME*/
.greeting{
    font-family: 'Exo 2', sans-serif;
    font-size: 3em;
    padding: 10px;
    text-align: center;
}

/* sm */
@media (min-width: 576px){
    .nav{
        height: auto;
        width: 100%;
        text-align: center;
        
    }

    .nav a{
        display: inline;
    }

}

/* md */
@media (min-width: 768px){

}

/* lg */
@media (min-width: 992px){
    .container{
       display: grid;
       grid-template-columns: auto auto;
    }

    .nav{
        height: auto;        
        width: 200px;
        display: block;
    }

    .nav a{
        display: block;
        text-align: left;
        font-size: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav hr{
        display: block;
        margin: 10px;
        height: 4px;
        color:#49090C;
        background-color: #49090C;
    }

    .greeting{
        font-size: 2.5em;
        text-align: left;
    }

    .logo{
        height: 75px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
    }

}

/* xl */
@media (min-width: 1200px){
    .container{
        display: grid;
        grid-template-columns: auto auto;
     }
    .nav{
        max-width: 250px;
    }

    .nav a{
        
    }

    .footer{
        height: 250px;
    }

    .logo{
        height: 90px;
    }
}
