/*{
    outline: 1px solid red;
}

/*GENERAL*/
body{
    margin: 0px;
}
.container{
    margin: 0px;
}



/*Nav Bar*/
.nav{
    display: inline-flex;
    background-color: #FFC500;
    
}

.nav a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: auto;
}

.nav a:hover{
    background-color: #cf752a;
    
}

.nav #selected{
    /*found an answer to*/
    background-color: #BE1D24;
    color: white;
}



.nav hr{
    display: none;
}

.logo{
    height: 50px;
    width: auto;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: 2px solid #49090C;
}

hr{
    height: 4px;
    border-width: 0;
    color: #49090C;
    background-color: #49090C;
}

/*Main Block*/
.banner{
    width: 100%;
    height: auto;
}
.mainBlock{
   
    margin-right: auto;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: #FFC500;
    margin-top: auto;
}

.pageTitle{
    font-family: 'Exo 2', sans-serif;
    font-size: 3em;
    padding: 10px;
    text-align: left;
}

/*HOME*/
.greeting{
    font-family: 'Exo 2', sans-serif;
    font-size: 3em;
    padding: 10px;
    text-align: center;
}

/*Instructions*/
.instrBar{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;

}
.instrNav a{
    display: flex;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    font-size: 1.25em;
}
.instrNav{
    width:auto;
    display: block;
}

.instrBar img{
    height:100%;
    width:100%;
}


 .instrNav a:hover{
    background-color: #237935;
    color: white;
 }

.instrNav .icon{
    height: 20px;
    width:auto;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;
}

a:hover .icon{
    content: url("img/arrow-white.svg");
    /*found solution thanks to stack overflow:
    https://stackoverflow.com/questions/52365130/to-change-icon-and-text-color-of-button-on-mouse-hover-in-menu-component*/
}

.instrNav hr{
    height: 1px;
    background-color:lightgray;
    margin:0;
}
/* sm */
@media (min-width: 576px){
    .nav{
        height: auto;
        width: 100%;
        text-align: center;
        
    }

    .nav a{
        display: inline;
    }

}

/* md */
@media (min-width: 768px){

}

/* lg */
@media (min-width: 992px){
    .container{
       display: grid;
       grid-template-columns: auto auto;
    }

    .nav{
        height: auto;        
        width: 200px;
        display: block;
    }

    .nav a{
        display: block;
        text-align: left;
        font-size: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav hr{
        display: block;
        margin: 10px;
        height: 4px;
        color:#49090C;
        background-color: #49090C;
    }

    .greeting{
        font-size: 2.5em;
        text-align: left;
    }

    .logo{
        height: 75px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
    }

}

/* xl */
@media (min-width: 1200px){
    .container{
        display: grid;
        grid-template-columns: auto auto;
     }
    .nav{
        width: 250px;
    }

    .nav a{
        font-size: 1.8em;
    }

    .footer{
        height: 250px;
    }

    .logo{
        height: 90px;
    }
}
